/* StudentAnnouncementsPage.css */

.student-announcements-page {
    min-height: 50vh;
    background-color: #f8f9fa;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .list-group-item {
    border: none;
    padding: 1rem;
  }
  
  .card-title {
    font-size: 1.5rem;
    /* margin-bottom: 1rem; */
  }
  
  .list-group-item h6 {
    font-size: 1.2rem;
  }
  
  .list-group-item p {
    margin-bottom: 0;
  }
  