/* src/pages/Teacher/TeacherAttendancePage.css */

.container {
    max-width: 900px;
    margin: 0 auto;
  }
  
  .table {
    width: 100%;
    margin-top: 20px;
  }
  
  th, td {
    text-align: center;
    vertical-align: middle;
  }
  
  .form-check-input {
    width: 2rem;
    height: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  